.hero-wrap {
  position: relative;

  width: 90%;          
  max-width: 1500px;  
  margin: 0 auto;     
  height: 320px;     

  overflow: hidden;
  border-radius: 6px;
}

.hero-wrap img {
  width: 100%;
  height: 100%;

  object-fit: contain;   
}


.hero-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,.5);
  border: none;
  color: #fff;
  padding: .4rem .6rem;
  cursor: pointer;
}


.hero-btn--left  { left:  0.8rem; }
.hero-btn--right { right: 0.8rem; }

