:root {
  --primary: #0B5968;      
  --cream:   #efe9df;    
  --text:    #1a1a1a;
}

* { box-sizing: border-box; }
body {
  margin: 0;
  background: transparent; 
  font-family: 'Inter', sans-serif;
  background: var(--cream);
  color: var(--text);
}

a { color: inherit; text-decoration: none; }
ul { margin: 0; padding: 0; list-style: none; }

.page-wrapper {
  position: relative;}

  .page-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  
  width: 50%;      
  height: 100%;

  background-image: url('./assets/images/pattern1.png');
  background-repeat: repeat;
  background-size: contain; 
  
  opacity: 3;       
  z-index: -1;         
}

.page-wrapper::after {
  content: '';
  position: absolute;

  top: 0;
  right: 0;

  width: 300px;  
  height: 300px;

  background-image: url('./assets/images/palm.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;

  opacity: 0.8;     
  z-index: -1;      
  pointer-events: none;  
}


@media (max-width: 800px) {
  .page-wrapper::before {
    
    width: 0;
    opacity: 0; 
  }
}

.page-section {
  min-height: 80vh;
  padding: 2rem;
}